<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common_layout.html}">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <p class="admin-message-text">Administration Panel</p>
                <a href="/admin/users">Manage users</a><br>
                <a href="/admin/posts">Manage posts</a><br>
            </div>
        </div>
    </div>
</section>

</body>
</html>