<!DOCTYPE html>
<html lang="en" layout:decorate="~{common_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Football Assistant - API</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <h2>Check out our free REST API</h2><br>
            <p>After creating an account and logging in you can visit <a href="/api/football_club/5">http://football-assistant.herokuapp.com/api/football_club/5</a>
            and many more free endpoints to obtain all the data we provide in a slick RESTfull way!</p>
        </div>
    </div>
</section>
</body>
</html>