<!DOCTYPE html>
<html lang="en" layout:decorate="~{common_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Football Assistant - API</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <h2>Check out our free REST API</h2><br>
            <p>After creating an account and logging in you can visit <a href="/api/footballClubs">http://football-assistant.herokuapp.com/api/footballClubs</a>
            and many more free endpoints to obtain all the data we provide in a slick RESTfull manner!</p><hr>
            <p><b>Currently supported endpoints: </b></p>
            <ul>
                <li>Football Clubs: <a href="/api/footballClubs">http://football-assistant.herokuapp.com/api/footballClubs</a> </li>
                <li>Leagues: <a href="/api/leagues">http://football-assistant.herokuapp.com/api/leagues</a></li>
                <li>Players: <a href="/api/players">http://football-assistant.herokuapp.com/api/players</a> </li>
            </ul><br>
        </div>
    </div>
</section>
</body>
</html>