<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorate="~{common_layout.html}">
<head>
    <title>Football Assistant</title>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <h2 th:inline="text">Latest Events and News</h2>
            <br>
            <div id="posts"></div>
            <br>
        </div>
    </div>
    <p id="hiddenUserData" style="display: none;" th:text="${followedTeamsIds}" />
    <p id="hiddenUserDataLeagues" style="display: none;" th:text="${followedLeaguesIds}" />
</section>
</body>
</html>