<!DOCTYPE html>
<html lang="en" layout:decorate="~{common_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Football Assistant - Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <p class="admin-message-text">My Account</p>
                <p class="font-weight-bold">Nickname:</p>
                <p th:text="${user.nickname}" /><br>
                <p class="font-weight-bold">E-mail:</p>
                <p th:text="${user.email}" /><br>
                <hr>
                <br>
                <h3>Followed Clubs</h3>
                <br>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50%">Football Club</th>
                        <th width="50%">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="club : ${user.followedClubs}">

                        <td th:text="${club.fullName}" />

                        <td>
                            <a th:href="@{/football_club/view/{id}/(id=${club.apiId})}"
                               class="btn btn-info btn-sm">
                                Show
                            </a>

                            <a th:href="@{/football_club/unfollow(clubId=${club.apiId})}"
                               class="btn btn-danger btn-sm"
                               onclick="if (!(confirm('Are you sure you want to unfollow this club?'))) return false">
                                Unfollow
                            </a>

                        </td>


                    </tr>
                    </tbody>
                </table>

                <br>
                <h3>Followed Leagues</h3>
                <br>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50%">League</th>
                        <th width="50%">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="league : ${user.followedLeagues}">

                        <td th:text="${league.fullName}" />

                        <td>
                            <a th:href="@{/league/view/{id}/(id=${league.apiId})}"
                               class="btn btn-info btn-sm">
                                Show
                            </a>

                            <a th:href="@{/league/unfollow(leagueId=${league.apiId})}"
                               class="btn btn-danger btn-sm"
                               onclick="if (!(confirm('Are you sure you want to unfollow this league?'))) return false">
                                Unfollow
                            </a>

                        </td>

                    </tr>
                    </tbody>
                </table>

                <br>

                <h3>Comments</h3>

                <br>

                <table class="table table-bordered table-striped">

                    <thead class="thead-dark">

                    <tr>

                        <th width="33%">Content</th>

                        <th width="33%">Creation Timestamp</th>

                        <th width="33%">Post Link</th>

                    </tr>

                    </thead>

                    <tbody>

                    <tr th:each="comment : ${comments}">

                        <td th:text="${comment.content}" />

                        <td th:text="${comment.creationTimestamp}" />

                        <td>

                            <a th:href="@{/news_post/view/{id}/(id=${comment.newsPost.id})}"
                                class="text-field">
                                Go To Post
                            </a>

                        </td>

                    </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</section>
</body>
</html>