<!DOCTYPE html>
<html lang="en" layout:decorate="~{common_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Football Assistant - Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <p class="admin-message-text">My Account</p>
                <p class="font-weight-bold">Nickname:</p>
                <p th:text="${user.nickname}" /><br>
                <p class="font-weight-bold">E-mail:</p>
                <p th:text="${user.email}" /><br>
                <hr>
                <br>
                <h3>Followed Clubs</h3>
                <br>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Football Club</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="club : ${user.followedClubs}">

                        <td th:text="${club.fullName}" />

                        <td>
                            <a th:href="@{/football_club/view/{id}/(id=${club.apiId})}"
                               class="btn btn-info btn-sm">
                                Show
                            </a>

                            <a th:href="@{/football_club/unfollow(clubId=${club.apiId})}"
                               class="btn btn-danger btn-sm"
                               onclick="if (!(confirm('Are you sure you want to unfollow this club?'))) return false">
                                Unfollow
                            </a>

                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>